################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

!/**/packages
/**/.suo
/*/*/bin
/*/*/obj
/**/*/bin
/**/*/obj
/**/*.vspx
/**/*.psess
/**/*.vsp
/**/docs/build
/**/.axoCover
/**/.vs