################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/NuLog*/**/bin
/**/NuLog*/**/obj
/**/.suo
/**/*.vspx
/**/*.psess
/**/*.vsp
/**/docs/build
/**/.axoCover
/**/.vs