<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
    </configSections>
    <nulog>
        <targets>
            <!-- start_snippet -->
            <target name="mytarget"
              type="NuLogSnippets.Docs.CustomTargets.CustomConfigTarget, NuLogSnippets"
              myCustomProperty="Yellow, World!" />
            <!-- end_snippet -->
        </targets>
    </nulog>
</configuration>