<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
    </configSections>
    <nulog
		includeStackFrame="true"
		fallbackLog="nulog-fallback.log">
        <!-- ... -->
    </nulog>
</configuration>