<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
    "targets": [{
        "name": "console",
        "type": "NuLog.Targets.ConsoleTarget",
        "layout": "${longdate}|${tags}|${message}"
    }],
	-->
	<configSections>
		<section name="Should_ContainRules" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainIncludes" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainExcludes" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_RuleContainTargets" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainStrictInclude" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainFinal" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />

		<section name="Should_ContainTagGroups" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainBaseTag" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainAliases" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />

		<section name="Should_ContainTargets" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_TargetHaveName" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_TargetHaveType" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_HaveTargetProperties" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
	</configSections>
	<Should_ContainRules>
		<rules>
			<rule />
		</rules>
	</Should_ContainRules>
	<Should_ContainIncludes>
		<rules>
			<rule include="one_tag,two_tag,red_tag,blue_tag" />
		</rules>
	</Should_ContainIncludes>
	<Should_ContainExcludes>
		<rules>
			<rule exclude="one_tag,two_tag,red_tag,blue_tag" />
		</rules>
	</Should_ContainExcludes>
	<Should_RuleContainTargets>
		<rules>
			<rule targets="one_target,two_target,red_target,blue_target" />
		</rules>
	</Should_RuleContainTargets>
	<Should_ContainStrictInclude>
		<rules>
			<rule strictInclude="true" />
		</rules>
	</Should_ContainStrictInclude>
	<Should_ContainFinal>
		<rules>
			<rule final="true" />
		</rules>
	</Should_ContainFinal>
	<Should_ContainTagGroups>
		<tagGroups>
			<group baseTag="hello_world" aliases="" />
		</tagGroups>
	</Should_ContainTagGroups>
	<Should_ContainBaseTag>
		<tagGroups>
			<group baseTag="hello_world" aliases="" />
		</tagGroups>
	</Should_ContainBaseTag>
	<Should_ContainAliases>
		<tagGroups>
			<group baseTag="hello_world" aliases="one_tag,two_tag,red_tag,blue_tag" />
		</tagGroups>
	</Should_ContainAliases>
	<Should_ContainTargets>
		<targets>
			<target name="hello_target" />
		</targets>
	</Should_ContainTargets>
	<Should_TargetHaveName>
		<targets>
			<target name="hello_target" />
		</targets>
	</Should_TargetHaveName>
	<Should_TargetHaveType>
		<targets>
			<target name="hello_target" type="NuLog.Targets.StreamTarget" />
		</targets>
	</Should_TargetHaveType>
	<Should_HaveTargetProperties>
		<targets>
			<target name="hello_target" type="NuLog.Targets.StreamTarget">
				<properties>
					<add name="layout" value="Hello, World!" />
				</properties>
			</target>
		</targets>
	</Should_HaveTargetProperties>
</configuration>