<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
    </configSections>
    <nulog>
        <targets>
            <target name="stream" type="NuLog.Targets.DebugTarget" layout="${Message}" />
        </targets>
        <rules>
            <rule
				include="one_tag,two_tag,red_tag,blue_tag"
				strictInclude="False"
				exclude="green_tag"
				targets="stream"
				final="False" />
        </rules>
        <tagGroups>
            <group baseTag="base_tag" aliases="one_tag,two_tag,red_tag,blue_tag" />
        </tagGroups>
        <metaData>
            <add key="meta" value="data" />
        </metaData>
    </nulog>
</configuration>