<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Should_ContainRules" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainIncludes" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainExcludes" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainTargets" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainStrictInclude" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
		<section name="Should_ContainFinal" type="NuLog.Configuration.StandardConfiguration.StandardConfigurationSection, NuLog.Configuration" />
	</configSections>
	<Should_ContainRules>
		<rules>
			<rule />
		</rules>
	</Should_ContainRules>
	<Should_ContainIncludes>
		<rules>
			<rule include="one_tag,two_tag,red_tag,blue_tag" />
		</rules>
	</Should_ContainIncludes>
	<Should_ContainExcludes>
		<rules>
			<rule exclude="one_tag,two_tag,red_tag,blue_tag" />
		</rules>
	</Should_ContainExcludes>
	<Should_ContainTargets>
		<rules>
			<rule targets="one_target,two_target,red_target,blue_target" />
		</rules>
	</Should_ContainTargets>
	<Should_ContainStrictInclude>
		<rules>
			<rule strictInclude="true" />
		</rules>
	</Should_ContainStrictInclude>
	<Should_ContainFinal>
		<rules>
			<rule final="true" />
		</rules>
	</Should_ContainFinal>
</configuration>