<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
  </configSections>
  <nulog>
    <!-- ... -->
    <rules>
      <rule
        include="consoleonly"
        targets="console"
        final="true" />
      <rule
        include="*"
        targets="file" />
    </rules>
    <!-- ... -->
  </nulog>
</configuration>