<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
	</configSections>
	<nulog>
		<!-- ... -->
		<targets>
      <!-- start_snippet -->
			<target name="myCustomTarget"
              type="NuLogSnippets:NuLogSnippets.Docs.CustomTargets.HelloLayoutTarget"
              layout="${DateTime:'{0:MM/dd/yyyy}'} | ${Message}\r\n" />
      <!-- end_snippet -->
		</targets>
		<!-- ... -->
	</nulog>
</configuration>