<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
	</configSections>
	<nulog>
		<!-- ... -->
		<targets>
			<target name="mytarget" type="NuLog.Targets.MailTarget"
					subject="Unhandled Exception in Super App!"
					to="me@superawesome.net"
					from="system@superawesome.net"
					smtpServer="mail.gtm.superawesome.net"
					body="The message proceeds: ${Message}"
					html="false"
					convertNewlineInHtml="false"
					smtpUserName="superuser"
					smtpPassword="awesomepass"
					enableSsl="true"
					smtpPort="993"
					smtpDeliveryMethod="Network"
					pickupDirectory="nope"
					timeout="1042" />
		</targets>
		<!-- ... -->
	</nulog>
</configuration>