<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
	</configSections>
	<nulog>
		<!-- ... -->
		<rules>
			<rule
				include="one_tag,two_tag"
				exclude="red_tag,blue_tag"
				targets="trace,mytarget"
				strictInclude="false"
				final="false" />
		</rules>
		<!-- ... -->
	</nulog>
</configuration>