<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
	</configSections>
	<nulog>
		<!-- ... -->
		<targets>
			<target name="file" type="NuLog.Targets.TextFileTarget" path="app.log"
					layout="${DateTime:'{0:MM/dd/yyyy hh:mm:ss.fff}'} | ${Release}-${Server}-${Env} | ${Tags} | ${Message}${?Exception:'\r\n{0}'}\r\n" />
		</targets>
		<!-- ... -->
		<metaData>
			<add key="Server" value="Web42B" />
			<add key="Env" value="Prod" />
			<add key="Release" value="1.2.42" />
		</metaData>
		<!-- ... -->
	</nulog>
</configuration>