<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
    </configSections>
    <nulog>
        <!-- ... -->
        <rules>
            <rule
              include="NuLogSnippets.*,index"
              strictInclude="true"
              targets="file" />
        </rules>
        <!-- ... -->
    </nulog>
</configuration>