<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
    </configSections>
    <nulog>
        <!-- ... -->
        <rules>
            <rule
				include="warn"
				targets="email" />
        </rules>
        <!-- ... -->
        <tagGroups>
            <group
				baseTag="base_tag"
				aliases="one_tag,two_tag,red_tag,blue_tag" />
            <group baseTag="trace" aliases="fatal,error,warn,info,debug" />
            <group baseTag="debug" aliases="fatal,error,warn,info" />
            <group baseTag="info"  aliases="fatal,error,warn" />
            <group baseTag="warn"  aliases="fatal,error" />
            <group baseTag="error" aliases="fatal" />
        </tagGroups>
        <!-- ... -->
    </nulog>
</configuration>