<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
    </configSections>
    <nulog>
        <!-- ... -->
        <targets>
            <target name="mytarget" type="NuLog.Targets.TraceTarget" />
        </targets>
        <!-- ... -->
    </nulog>
</configuration>