<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nulog" type="NuLog.Configuration.ConfigurationSectionHandler, NuLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nulog>
    <targets>
      <target name="trace" type="NuLog.Targets.TraceTarget" />
    </targets>
    <rules>
      <rule
				include="*"
				targets="trace" />
    </rules>
    <tagGroups>
      <!--<group baseTag="base_tag" aliases="one_tag,two_tag,red_tag,blue_tag" />-->
    </tagGroups>
    <metaData>
      <!--<add key="meta" value="data" />-->
    </metaData>
  </nulog>
</configuration>